<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="app">
    <div ng-controller="updateCtrl">
        <input type="text" ng-model="uname" placeholder="Enter the Name"><br><br>
        <input type="text" ng-model="upass" placeholder="Enter the Password"><br><br>
        <button ng-click="updateData()">Update</button>
        
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
</body>
</html>