*{
    margin: 0;
}

body{
    background-image: url("https://previews.123rf.com/images/krekdm/krekdm1607/krekdm160700085/59591885-seamless-cinema-pattern-can-be-used-for-wallpaper-website-background-wrapping-paper-cinema-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

h1{
    color: rgb(255, 162, 41);
    font-weight: bolder;
    margin: 0 auto;
    width: 155px;
    background-color: rgba(255, 255, 255, 0.963);
    
}

nav{
    border: 3px solid rgb(252, 250, 250);
    background-color: rgba(240, 248, 255, 0.416);
    display: flex;
    position: relative;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
    color: red;
}

div{
    margin: 7px;
}

.auth{
   margin-left: 85%;
   position:absolute
}

.reglog{
    margin-left: 45px;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
    border-color: aliceblue;
}

.reglog:hover{
    background-color: rgb(179, 23, 226);
    color: aliceblue;
    font-weight: bolder;
}