*{
    margin: 0;
}

body{
    background-image: url("https://previews.123rf.com/images/krekdm/krekdm1607/krekdm160700085/59591885-seamless-cinema-pattern-can-be-used-for-wallpaper-website-background-wrapping-paper-cinema-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

h1{
    color: rgb(255, 162, 41);
    font-weight: bolder;
    margin: 0 auto;
    width: 155px;
    background-color: rgba(255, 255, 255, 0.963);
    
}

nav{
    border: 3px solid rgb(252, 250, 250);
    background-color: rgba(240, 248, 255, 0.416);
    display: flex;
    position: relative;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
    color: red;
}

div{
    margin: 7px;
}

.add:hover
{
    background-color: rgb(179, 23, 226);
    border-color:rgb(179, 23, 226) ;
    color: aliceblue;
    font-weight: bolder;
}

.movies{
    margin-top: 0;
    height: 600px;
    width: 820px;
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.id_mov{
    height: 370px;
    width: 250px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 4px rgba(98, 97, 96, 0.409);
    
}

.img{
    margin: 0;
    height: 250px;
    width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url("https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg");
    background-size: cover;
}
h3{
    margin-top: 5px;
    margin-left: 10px;
}

.rat,.lang,.imdb{
    margin-left: 10px;
    font-weight: lighter;
    color: grey;
    overflow: hidden;
}


.fa-star{
    color: yellow;
}

.img:hover{
    background-image: linear-gradient(to right,rgba(255, 0, 0, 0.61),rgba(255, 255, 255, 0.564)),url("https://img.freepik.com/premium-vector/youtube-logo-circle-red-social-media-logo_197792-4982.jpg");
    background-size: cover;
    cursor: pointer;
}

#close{
    margin-left: 802px;
    margin-bottom: 0px;
}

.anc_img{
    display: inline-block;
    margin: 0;
    height: 250px;
    width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}