<div id="login">
  <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/login-3544116-2967507.png?f=webp" alt="login"><br>
  <form action="">
    <input type="text" id="uname" placeholder="user-name" ng-model="uname" ng-disabled=disableFlag><br><br>
    <input type="password" id="pwd" placeholder="password" ng-model="upass" ng-disabled=disableFlag><br><br>
    <button id="but" type="submit" ng-click="login()" ng-disabled=disableFlag>Login</button><br><br><br>
    <a id="main_a">Haven't Registered yet?<a ng-href="#!register" id="sub_a">Sign up</a></a>
  </form>
</div>