*{
    margin: 0;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433327_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#login{
    height: 265px;
    width: 275px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    margin: 100px auto;
    border:2px groove white;
    border-radius: 7px;
}

img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left:37%
}

#uname,#pwd{
    height: 17px;
    width: 180px;
    margin-left:17%
   
}

#but{
    height: 20px;
    width: 65px;
    margin-left:37%
}

#but:hover{
    background-color: blue;
    color: aliceblue;
    border-color: blue;
    cursor: pointer;
}

#main_a{
    color: rgb(4, 0, 0);
    margin-left: 45px;
    text-decoration: none;
   
}

#sub_a{
    color: blue;
}






h1{
    width: 260px;
    margin: 0 auto;
    font-weight: bolder;
}


