<div id="register">
    <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/login-3544116-2967507.png?f=webp" alt=""><br>
    <form action="">
        <input type="text" id="uname_reg" placeholder="user-name" ng-model="uname"><br><br>
        <input type="email" id="umail_reg" placeholder="e-mail" ng-model="umail"><br><br>
        <input type="password" id="pwd_reg" placeholder="password" ng-model="upass"><br><br>
        <input type="password" id="confPwd_reg" placeholder="confirm-password" ng-model="uconfPass"><br><br>
        <button id="but_reg" type="submit" ng-click="register()">Register</button><br><br><br>

        <a id="main_a_reg">Already Registered?<a ng-href="#!/" id="sub_a">Login</a></a>
        
      </form>
</div>