<div ng-show=!auth_flag id="login_err">
</div>
<div id="dashboard" ng-show=auth_flag>
    <nav>
        <input type="search" placeholder="Search" id="search" ng-model="searchVal">


        <label for="gen" id="lab">Genre:</label>
        <select id="gen" ng-model="genreBar">
            <option class="op" value="">All</option>
            <option class="op" ng-repeat="g in genres" value={{g.id}}>{{g.name}}({{g.id}})</option>
        </select>
        

        <label for="lang" id="lab">Language:</label>
        <select id="lang" ng-model="langBar">
            <option class="op" value="">All</option>
            <option class="op" ng-repeat="l in languages | orderBy:'english_name' " value={{l.iso_639_1}}>{{l.english_name}}({{l.iso_639_1}})</option>
        </select>

        <label id="lab">Sort:</label>
        <button id="but_sort" ng-click="sortChange()"><i class={{sortClass}}></i></button>

        <button id="fav" ng-click="toggleFavMovies()">My Favourites <i class="fa-solid fa-heart" style="color: rgb(255, 0, 128);"></i></button>

        <label id="acc_mail">{{mail}}</label>

        <button id="logout" ng-click="logout()">Logout</button>
    </nav>

    <div id="movie_main">
        <div id="movie_cont" ng-repeat="i in movieDescription | filter:{ title : searchVal } | orderBy: 'original_title':sortFlag | filter:{ original_language : langBar } | filter:{ genre_string : genreBar}" ng-show=favFlag>
            <div class="movie_img"><img src="https://image.tmdb.org/t/p/w500{{i.poster_path}}" alt="" class="movie_img"></div>
            <h3><b>{{i.title}}</b> <small>({{i.release_date}})</small></h3><br>
            <h5 id="genres"><label>Rating: </label><b class="genLang"> <i class="fa-solid fa-star" id="star"></i> {{i.vote_average}}/10</b></h5><br>
            <h5><label >Language:</label> <b class="genLang">{{i.original_language | uppercase}}</b>  <i class="fa-solid fa-heart" id="fa-heart" ng-click="postFavMovie(id,i.id)" ng-style="{color:i.favColor}"></i></h5>

        </div>

        <div id="movie_cont" ng-repeat="i in favMovies | filter:{ title : searchVal } | orderBy: 'original_title':sortFlag | filter:{ original_language : langBar } | filter:{ genre_string : genreBar}"  ng-show=!favFlag>
            <div class="movie_img"><img src="https://image.tmdb.org/t/p/w500{{i.poster_path}}" alt="" class="movie_img"></div>
            <h3><b>{{i.title}}</b> <small>({{i.release_date}})</small></h3><br>
            <h5 id="genres"><label>Rating: </label><b class="genLang"> <i class="fa-solid fa-star" id="star"></i> {{i.vote_average}}/10</b></h5><br>
            <h5><label >Language:</label> <b class="genLang">{{i.original_language | uppercase}}</b>  <i class="fa-solid fa-heart" id="fa-heart" ng-click="postFavMovie(id,i.id)" ng-style="{color:i.favColor}"></i></h5>

        </div>
    </div>
</div>